In [1]:
import pandas as pd
import altair as alt
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

## Import Files

In [2]:
df = pd.ExcelFile('data/TGA data with graphs (N2).xlsx')

## What are the file names?

In [3]:
df.sheet_names

['Both 20C',
 'Ca(OH)2 20C',
 'TBBPA 20C',
 'both 15C',
 'Ca(OH)2 15C',
 'TBBPA 15C',
 'Ca(OH)2 10C',
 'Both 10C',
 'TBBPA 10C',
 'Both 5C ',
 'Ca(OH)2 5C',
 'TBBPA 5C']

## Import individual sheets

In [4]:
d = {}
for i in df.sheet_names:
    k = i.replace(" ", "_").replace("(","").replace(")","")
    d[k] = pd.DataFrame(df.parse(i))
    d[k].columns = ["Time (min)","Temperature (°C)","Weight (mg)","DTA (%/°C)","wt loss %"]
    d[k]['Compound'] = k.split('_')[0] # Add a column for condition
    d[k]['Condition'] = k.split('_')[1].split('C')[0] # Add a column for condition
    print("Imported ", d[k].shape)

Imported  (4672, 7)
Imported  (4669, 7)
Imported  (4672, 7)
Imported  (6218, 7)
Imported  (6225, 7)
Imported  (6228, 7)
Imported  (9335, 7)
Imported  (9319, 7)
Imported  (9340, 7)
Imported  (18626, 7)
Imported  (18657, 7)
Imported  (18675, 7)

## Concatenate all sheets

In [5]:
df_all = d[list(d.keys())[0]]
for i in range(1, len(d.keys())):
    df_all = df_all.append(d[list(d.keys())[i]])
    print(df_all.shape)
df_all['Compound'] = df_all['Compound'].str.lower()
df_all['Condition'] = pd.to_numeric(df_all['Condition'])

(9341, 7)
(14013, 7)
(20231, 7)
(26456, 7)
(32684, 7)
(42019, 7)
(51338, 7)
(60678, 7)
(79304, 7)
(97961, 7)
(116636, 7)

## Write to file

In [6]:
df_all.to_csv('consolidated_2022-10-13_v1')
df_all

,Time (min),Temperature (°C),Weight (mg),DTA (%/°C),wt loss %,Compound,Condition
0,0.000933,21.32432,9.058288,-0.012645,100.000000,both,20
1,0.004167,21.32125,9.058359,-0.012647,100.000784,both,20
2,0.012500,21.32316,9.058353,-0.012646,100.000718,both,20
3,0.020833,21.32828,9.058349,-0.012643,100.000673,both,20
4,0.029167,21.33278,9.058361,-0.012640,100.000806,both,20
...,...,...,...,...,...,...,...
18670,155.579200,797.84160,1.297143,0.015931,14.455047,tbbpa,5
18671,155.587500,797.88450,1.297430,0.015890,14.458245,tbbpa,5
18672,155.595800,797.92870,1.297572,0.015844,14.459828,tbbpa,5
18673,155.604200,797.97100,1.297616,0.015805,14.460318,tbbpa,5
18674,155.612500,798.01300,1.297571,0.015776,14.459816,tbbpa,5

In [7]:
a = alt.Chart(df_all).mark_point().encode(
    alt.Y("Weight (mg)"),
    alt.X("Temperature (°C)"),
    alt.Color("Condition:N"),
    alt.Facet('Compound')).properties(width = 300, height = 300, title = "Weight vs. Temperature")
b = alt.Chart(df_all).mark_point().encode(
    alt.Y("Weight (mg)"),
    alt.X("Time (min)"),
    alt.Color("Condition"),
    alt.Facet('Compound')).properties(width = 300, height = 300, title = "Weight vs. Time")

In [1]:
#a

In [2]:
#b